{%load static%}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{%static 'tokai/css/ryo.css'%}">
    <link rel="stylesheet" href="{%static 'tokai/css/reset.css'%}">
    <title>Tokaionair_Ryo</title>
    </head>
    <main>
        <section class="first">
             <img src="{% static 'tokai/img/ryou_2.JPG' %}" alt="ryo">
            
            <div class="content">
            <div class="name">
              <h1>RYO</h1>
            </div>
            <div class="text">
                <p>1993/06/11 O型</p>

<p>ディレクション大臣」</p>

<p>有名海外選手とのコラボレーションや、チャンピオンズリーグ決勝を現地で
観戦するほど大の海外サッカー好き。</p>
 <p>個人では2020年7月に地元岡崎市にてカフェ「R COFFEE STAND」
をオープンした。</p> 
<p>自身の個人チャンネルである「ブラーボりょうのボンサバドゥ! チャンネル」
も運営している。</p>
<p>東海オンエアにとって最も重要といっても過言ではない「動画の制作進行・
スケジュール管理」を行うなどまさに縁の下の力持ち。</p>
<p>好きなサッカークラブはチェルシーFC。</p>
            </div>
            </div>
          </section>
            <section class="link">
            <h1>LINK</h1>
            <ul>
           <li> <a href="https://www.youtube.com/channel/UCigMkMDZjvLhXAQ67wKQIbA">ブラーボりょうのボンサバドゥ!チャンネル YouTube</a></li>
<li><a href="https://twitter.com/TO_RYOO">りょう【東海オンエア】 Twitter </a></li>
<li><a href="https://www.instagram.com/to_ryoo/">東海オンエアのりょう Instagram</a></li>
<li><a href="https://www.rcoffeestand.com/">R COFFEE STAND</a></li>
      </ul>
      </section>
    </main>