{%load static%}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{%static 'tokai/css/reset.css'%}">
    <link rel="stylesheet" href="{%static 'tokai/css/video_site.css'%}">
    <title>Tokaionair_video_share</title>
  </head>
  <body>    
    <header>
       <nav>
        <div class="top">
          <div class="bar">
            <a href="#top">
              <img class="onerbard" src="{% static 'tokai/img/onerbard.PNG'%}" alt="onerbard">
            </a>
            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
            <ul class="menu">    
              <li><a href="{% url 'tokai:index' %}">Top site</a></li>
              {% if request.user.is_authenticated %}
              <form action="{% url 'accounts:logout' %}" method="post" name="logout">{% csrf_token %}
                <li><a href="{% url 'tokai:mypage' %}">mypage</a></li>
              </form>
            </div>
            {% else %}
            <li class="nav_mypage"><a href="{% url 'accounts:login' %}">mypage</a></li>
            {% endif %}
          </ul>
        </div>
       </nav>
    </header>
       <div>

        {% if videos %}
          <ul class="V">
            {% for file in videos %}
              <li class="V">
                <video width="200" height="285" controls>
                  <source src="{{ file.files.url }}" type="video/mp4">
                </video>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No files uploaded yet.</p>
        {% endif %}
       </div>
  </body>
</html>

       
               
