{%load static%}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{%static 'tokai/css/yumemaru.css'%}">
    <link rel="stylesheet" href="{%static 'tokai/css/reset.css'%}">
    <title>Tokaionair_Yumemaru</title>
    </head>
    <main>
    <section class="first">
        <img src="{% static 'tokai/img/yumemaru_2.JPG'%}" alt="yumemaru">
        <div class="content">
        <div class="name">
        <h2>YUMEMARU</h2>
        </div>
        
        <div class="text">
            <p>1994/01/23 B型</p>

<p>「メンバーシップ大臣」</p>

<p>東海オンエアの発起人的存在。</p>
<p>グループ内でも随一のお酒好きとして知られており、個人でも Webマガジンにてお酒の連載仕事を行っている。</p>
<p>レギュラー番組「東海オンエアラジオ」では虫眼鏡とともにメインパーソナリティを務め、トーク力に磨きがかかっている。</p>
<p>2020年8月にはアパレルブランド「Bark at the Moon」 を立ち上げた。</p>
<p>自身の個人チャンネルである「ゆめまる美術館」では「Bark at the Moon」の新作情報を中心に投稿中。</p>
<p>旅ロケ風の演技が得意。</p>
 </div>
</div>
</section>
<section class="link">
 <h1>LINKS</h1>
 <P>
    <ul>
     <li><a href="https://www.youtube.com/channel/UCevQsKO8q1XQcEA1BoBO2gA">ゆめまる美術館 YouTube</a></li>      
     <li> <a href="https://twitter.com/TO_yumemarucas">ゆめまる【東海オンエア】Twitter</a></li>
    <li> <a href="https://www.instagram.com/yumemaru_original/">ゆめまる（本人）Instagram</a></li>
    <li> <a href="https://bark-at-the-moon.shop/">Bark at the Moon</a></li>
    </ul>
 </P>
</section>
    </main>