{%load static%}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{%static 'tokai/css/sibayu.css'%}">
    <link rel="stylesheet" href="{%static 'tokai/css/reset.css'%}">
    <title>Tokaionair_Sibayu</title>
    </head>
    <main>
      <section class="first">
       <img src="{% static 'tokai/img/sibayu_2.JPG' %}" alt="sibayu">
        <div class="content">
          <div class="name">
            <h1>SIBAYU</h1>
          </div>
        <div class="text">
         <p> 1993/12/30 ？型</p>

<p>「ストーリーズ大臣」</p>

<p>東海オンエア結成当初からグループのエースとしてチャンネルを盛り上げてきたしばゆー。</p>
<p>独特なセンスと表現力を持ち合わせており、東海オンエアの主砲と呼ばれている。</p>
<p>グループ内で結成された目立ちたがり屋ユニットの「リサイタルズ」では作詞も担当。</p>
<p>YouTubeチャンネル「ニンマリシティへようこそ」のマッドロイ機長とは何かしらの関係があるとかないとか。</p>
<p>好きなアーティストは三浦大知さん。</p>
        </div>
      </div>
    </section>
      <section class="link">
        <h1>LINKS</h1>
        <ul>
          <li><a href="https://twitter.com/TOKAI_ONAIR">しばゆー【東海オンエア】 Twitter</a> </li>
            <li><a href="https://www.instagram.com/to___shibayu/">しばゆー Instagram</a></li>
        </ul>
      </section>
    </main>