{%load static%}

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{%static 'tokai/css/tetuya.css'%}">
    <link rel="stylesheet" href="{%static 'tokai/css/reset.css'%}">
    <title>Tokaionair_Tetuya</title>
    </head>
    <main>
    <section class="first">
    <img src="{% static 'tokai/img/tetuya_2.JPG' %}" alt="tetuya">
    <div class="content">
    <div class="name">
    <h1>TETUYA</h1>
</div>
<div class="text">
    <p>10/30（年齢非公開） A型</p>

        <p>「東海オンエアのリーダー」</p>
        
        <P>個性が強いグループメンバーの中でも天才的な発想と圧倒的なカリス
        マ性を誇り、リーダーとしてグループを牽引。</P>
        <p>2020年12月には自身初のエッセイ「天才の根源」を発表した。</p>
        <p>てつやの個人チャンネルである「べりたんで検索お願いします」 
        ではゲーム実況や商品紹介を行っている。</p></p>
        <p>好きなものにとことん本気で向き合うタイプ。
       <p> 朝は弱い。</p>
      <p>  趣味はスプラトゥーン。</p>
       </div>
      </div>
    </section>
       <section class="link">
        <h1>LINK</h1>

            <ul>
  <li>  <a href="https://youtube.com/@NoTetsuyaNoLife"> ベリたんで検索お願いします YouTube</a></li>
    
<li><a href="https://twitter.com/TO_TETSUYA">てつや【東海オンエア】Twitter</a></li>

<li><a href="https://www.instagram.com/to_tetsuya/">てつや【東海オンエア】Instagram</a></li>
            </ul>
     
</section>
    </main>