{%load static%}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{%static 'tokai/css/tosimitu.css'%}">
    <link rel="stylesheet" href="{%static 'tokai/css/reset.css'%}">
    <title>Tokaionair_Tosimitu</title>
    </head>
    <main>
      <section class="first">
    
        <img src="{% static 'tokai/img/tosimitu_2.JPG' %}" alt="tosimitu">
        
        <div class="content">
        <div class="name">
          <h1>TOSIMITU</h1>
          </div>
          <div class="text">
          <p>1993/07/17 O型</p>

<p>「グッズ・イベント大臣」</p>

<p>2019年6月にソロアーティスト“TOSHIMITSU”としてミニアルバム『THE BEST』『THE BEST2』をリリース、 2020年2月には自身初のワンマンライブを開催するなどアーティストとしても活動し、LIVEでは常に全力のパフォーマンスでファンを魅了し続けている。 自身の個人チャンネルである「としみつ東海オンエアの」でもMVやカバーソングを公開するなど音楽を中心に投稿。</p>
<p>終わらない青春、漢としみつなど異名多数。</p>
<p>東海オンエアのグッズ、イベント担当としていつもファンを想って次の一手を考えている。</p>
<p>好きな食べものは五平餅。</p>
        </div>
      </div>
    </section>
      <section class="link">
        <h1>LINKS</h1>
        <ul>
          <li><a href="https://www.youtube.com/channel/UCDFxQgB9Dc_MzxiEKjozWwg">としみつ東海オンエアのYouTube</a></li>
            
            <li><a href="https://twitter.com/TO_TOSHIMITSU">としみつ【東海オンエア】Twitter</a></li>
            
           <li><a href="https://www.instagram.com/toshimitsu_tokaionair"> 東海オンエアのとしみつInstagram</a></li>
            
            <li><a href="https://tiktok.com/@to_toshimitsu">東海オンエアのとしみつTikTok </a></li>
           
        </ul>
      </section>
    </main>