.menu-btn {
    display: none;
}
img {
    max-width: 100%;
}
.onerbard{
    width: 100px;
    margin: 10px 30px;
}
.top {
    width: 100%;
    background-color: #163172;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.top li {
    margin:   auto 30px ;
    color: #ffffff;
    font-size: 34px;
}
form{
    margin: auto 0;
}
.top ul{
    display: flex;
    margin: 0 0 0  auto;
    
}
.menu  :hover{
    text-decoration: underline solid #ffffff 1px;
}
ul{
width: 80%;
margin: 0 auto;
}
.V{
    text-align:center;
}