{%load static%}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{%static 'tokai/css/reset.css'%}">
        <link rel="stylesheet" href="{%static 'tokai/css/login.css'%}">

    <title>Tokaionair_roguinpage</title>
    </head>
    <body>
    {% block content %}
        <div class="infomation">
            <p class="logo">
                <img src="{% static 'tokai/img/onerbard.PNG' %}">
            </p>
            <form method="post" class="p-4 m-4 bg-light border border-success rounded form-group">
                {% csrf_token %}
                {% for error in form.errors.values %}
                    {{ error }}
                {% endfor %}
                <ul>
                    <label class="user_id">
                        ユーザー名
                    </label>
                    <input class="form-control" name="username">
                    <label class="password">
                        パスワード
                    </label>
                        <input type="password" class="form-control" name="password">
                    
                    <li class="roguin">
                        <button type="submit" class="btn btn-success mt-4">ログイン</button>
                    </li>
                    <li>
                        <a class="new" href="{% url 'accounts:signup' %}">新規登録</a>
                    </li>
                </ul>
            </form>
        </div>
        {% endblock %}
    </body>
</html>